body{
    background-color: #333;
    color: #fff;
}
.logo{
    color: #F54748;
}
.navbar{
    border-bottom: 3px solid #f54747;
    z-index: 5;
}
.navbar-toggler:focus{
        
        box-shadow:none;
}
 
#home-section{
    background: url(./img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
#home-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0, 0.1);
} 

#home-section .home-inner{
    padding-top: 150px;
} 
#home-section .home-inner h1 {
    text-align: center;
}

#home-section .card-form{
    opacity: 0.8;
    height: 90%;
    margin-top: 10%;
    background-color: #F54748;
}
#home-section .card-form form {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 40px;
    flex-direction: column;
}

#home-section .fa-check,
#membership-section .fa-check
{
    background-color: #F54748;
    color: #fff;
    border-radius: 50%;
    padding: .5rem;
    font-size: 18px;
}

/* explore */
.btn-cta{
    border-color: #F54748;
    color: #F54748;
}
.btn-cta:hover{
    color: #fff;
    background-color: #F54748;
}
#explore-section .fa-check {
    color: #F54748;
    /* border-radius: 50%;
    padding: .5rem; */
    font-size: 18px;
    /* color: #fff; */
}

/* memberhip */
.membership-head-section{
    background-color: #F54748;
}
.img-membership{
    object-fit: contain;
}
#membership-section .fa-check {
    font-size: 12px;
}


.times{
    background-color: transparent;
    border: none;
}
.times .btn.btn-cta{
    padding: 3px 8px;
}
#main-footer{
    background-color: #F54748;
}